body{
	background-color: black;
	width: 1200px;

}

nav{
	background-color: red;
	height: 50px;
}

nav a{
	color: white;
	margin: 10px;
}

.contenedor{
	display:flex;
	flex-direction: row;


}

img{
	width: 200px;
	height: 200px;
}

button{
	background-color: red;
	width: 200px;
	padding: 5px;
	margin: 5px;
}